@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;600&display=swap');

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Lexend Deca';
}

html,body {
  height:100%;
  width:100%;
}

::-webkit-scrollbar {
  display:none;
}

#root {
  width:100%;
  height: 100%;
}

.landing {
  position: relative;
  height: 100%;
  width: 100%;
  background-color:#cecece;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.gallery-home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #5e5e5e88;
  padding: 2em;
}

.gallery-home>h1 {
  cursor: default;
  font-size: 5em;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

.spans-cols-2 {
  grid-column: span 2;
}

.spans-rows-2 {
  grid-row: span 2;
}

.spans-rows-4 {
  grid-row: span 4;
}

.spans-rows-3 {
  grid-row: span 3;
}

.photos {
  padding: 20px;
  width: 100%;
  background-color: white;
}

.event {
  max-width: 1156px;
  background-color:rgb(119, 119, 119);
  border-radius: 15px;
  padding: 20px;
  margin-inline: auto;
  margin-bottom:20px;
  display: grid;
  grid-template-columns: repeat(3,15em);
  grid-template-rows: repeat(3,15em);
  justify-content: center;
  gap: 15px;
}

.event>.image{
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.caption {
  opacity: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.719);
  color: rgb(228, 228, 228);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 600;
  transition: opacity 150ms ease-in-out;
}

.image:hover > .caption {
  opacity: 100;
}

/* Images in the events */

#image-1 {
  background-color:#C4C4C4;
}

#image-2 {
  background-color:#C4C4C4;
}

#image-3 {
  background-color:#C4C4C4;
}

#image-4 {
    background-color:#C4C4C4;
}

#image-5 {
    background-color:#C4C4C4;
}

#image-6 {
    background-color:#C4C4C4;
}

#image-7 {
    background-color:#C4C4C4;
}

#image-8 {
    background-color:#C4C4C4;
}

#image-9 {
    background-color:#C4C4C4;
}

#image-1 {
    background-color:#C4C4C4;
}

#image-10 {
    background-color:#C4C4C4;
}

@media (max-width: 960px) {

}

@media (max-width:900px) {
  .gallery-home>h1 {
    font-size: 2.5em;
  }

  .event {
    padding: 15px;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(3,26vw);
    gap: 2vw;
  }

  .caption {
    font-size: 1em;
  }
}

@media (max-width:600px) {
  .caption {
    font-size: 0.5em;
  }
}
